{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, expedita accusamus aspernatur, cupiditate nam repellat fuga id, asperiores deserunt sunt aut reiciendis animi vel quidem quasi a enim repellendus eaque. Debitis amet doloremque odit vel ducimus voluptate incidunt a. Nihil sunt quaerat magnam a ut, saepe commodi facere molestias pariatur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae cum quae labore! Animi repellendus natus, deserunt voluptatem impedit voluptate aperiam blanditiis inventore assumenda nostrum repellat eveniet nihil facere fugit quasi delectus! Fuga incidunt reiciendis repellendus qui obcaecati at doloremque quaerat reprehenderit nihil, perspiciatis magni, quasi quae expedita quia! Quis ullam ab voluptate sapiente adipisci atque eaque minus modi. Facilis veritatis deleniti nesciunt alias quae eos esse repudiandae nisi ducimus tempore minus sint ea maxime iusto, quasi eius commodi. Quos placeat labore quae nostrum mollitia praesentium libero provident magni blanditiis totam deserunt, qui necessitatibus. Accusantium dolore unde aut itaque. Accusamus?</p>
</div>


{% endblock content %}